body {
  padding-bottom: 300px;
  position: relative;
}
table.styled-better {
  border: 1px solid #000;
}
table.styled-better td {
  border: 1px solid #000;
  padding: 8px;
}
#price-range {
  width: 370px;
  margin: 10px auto 30px auto;
  text-align: center;
  font-weight: bold;
}
#value-min,
#value-max {
  width: 100px;
}
#slider {
  margin: 30px 0 30px 0;
}
input[type="number"] {
  margin: 0 10px 0 10px;
}
